.background3{
    background-color: #1C54A9;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
.signin{
    position: relative;
    top: 8vh;
}
.arrow3{
    position: relative;
    width: 3.5vh;
    height: 3.5vh;
    background-image: url(../resource/arrow.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 5%;
    z-index: 1999;
    
}
.pagetitle{
    position: relative;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    margin-right: 2vh;
    right: 2%;
}
.pass{
    border-bottom: 0.1vh solid white;
    width: 90%;
    top:20vh;
    height: 10vh;
    position: relative;
    left: 5%;
    right: 5%;
}
.pass1{
    font-size: 3.5vh;
    font-weight: 900;
    position: relative;
    color: white;
    top: -2vh;
    right: 6vh;



}
.password::placeholder{
    color: white;
    font-size: 1.6vh;
}
.password{
    border-style: none;
    top: 2vh;
    position: relative;
    width: 90%;
    height: 2vh;
    background-color: #1C54A9 ;
    outline: none;
    font-size: 2vh;
    color: #ffffff;
}
.pass2{
    border-bottom: 0.1vh solid white;
    width: 90%;
    top:30vh;
    height: 10vh;
    position: relative;
    left: 5%;
    right: 5%;
}
.pass3{
    font-size: 3.5vh;
    font-weight: 900;
    position: relative;
    color: white;
    top: -2vh;
}
.passwordc::placeholder{
    color: white;
    font-size: 1.6vh;
}
.passwordc{
    border-style: none;
    top: 2vh;
    position: relative;
    width: 90%;
    height: 2vh;
    background-color: #1C54A9 ;
    outline: none;
    font-size: 2vh;
    color: #ffffff;
}
.buttonarea1{
    width: 100%;
    display:flex;
    justify-content: center;
    top:10vh;
    position: relative;
}
.button2{
    padding: 1.5vh 14vh 1.5vh 14vh;
    border-style: none;
    background: #62E857;
    border-radius: 16px;
    font-size: 2vh;
    text-decoration: none;
    color:rgb(255, 255, 255);
    top: 15vh;
    position: relative;
    text-align: center;
    width: 42vh;
    height: 5vh;
    font-weight: 900;
}
.passerror{
    color: red;
    font-size: 1.5vh;;
    position: relative;
    top: 3vh;
}
.passerror1{
    color: red;
    font-size: 1.5vh;;
    position: relative;
    top: 3vh;
}
.button3{
    padding: 1.5vh 14vh 1.5vh 14vh;
    border-style: none;
    background: #BBCCE5;
    border-radius: 16px;
    font-size: 2vh;
    text-decoration: none;
    color:rgb(255, 255, 255);
    top: 25vh;
    position: relative;
    text-align: center;
    width: 42vh;
    height: 5vh;
    font-weight: 900;
}