@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../../resource/font/Pretendard-Regular.woff') format('woff');
    font-style: normal;
  }

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../../resource/font/Pretendard-SemiBold.woff') format('woff');
    font-style: bold;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../../resource/font/Pretendard-Bold.woff') format('woff');
    font-style: bold;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('../../resource/font/Pretendard-ExtraBold.woff') format('woff');
  font-style: bold;
}
  
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('../../resource/font/Pretendard-ExtraLight.woff') format('woff');
    font-style: normal;
  }

    
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../../resource/font/Pretendard-Medium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('../../resource/font/HakgyoansimWoojuR.woff') format('woff');
}