@import url("./font.css");

.App3 {
  background-color: #1C54A9;
  text-align: center;
  color : white;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inflow3Script{
  margin-top: 5vh;
  font-family: 'Pretendard-SemiBold';
  font-size: 2.5vh;
}


.hashTag{
  margin-top: 1vh;
  margin-bottom: 6vh;
  font-size: 2.2vh;
}

.poseAria{
  background-color: white;
  border-radius: 16px;
  width: 36vh;
  height: 58vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tape{
  background-image: url("../../resource/img/tape.png");
  background-size: 9vh;
  background-repeat: no-repeat;
  background-position : center;
  height: 9vh;
  margin-top: -4.2vh;
}

.pose{
  margin-top: 0vh;
  background-image: url("../../resource/img/pose.png");
  background-size: 25vh;
  background-repeat: no-repeat;
  background-position : center;
  height:35vh;
}

.poseBtn{
  width: 30vh;
  height: 5vh;
  background-color: #4CF23E;
  border-radius: 16px;
  border-style: none;
  font-size: 2vh;
  margin-top: 2vh;
  color: white;
}

.linkPose{
  padding: 1.5vh 8.5vh 1.5vh 8.5vh;
  font-size: 2vh;
  text-decoration: none;
  color: white;
}


.makeArchive{
  font-size: 2.2vh;
  margin-top: 6vh;
  padding: 0vh;
  width: 11vh;
  height: 11vh;
  border-radius: 50%;
  border-style : solid;
  border-color : white;
  color : white;
  background-color: #1C54A9;
  text-decoration: none;
}

.makeArchiveText{
  padding-top: 2.3vh;
  font-size: 2vh
}

.arrow00 {
  background-image: url("../../resource/Icons/arrow_forward_24px.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position : center;
  height:3vh;
}




