@import url("./font.css");

.App3 {
  background-color: white;
  text-align: center;
  color : black;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backBtn0{
  position:absolute;
  top: 7vh;
  left: 5%;
  background-image: url("../../resource/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 3vh;
  width: 3vh;
}

.inflow3Script{
  margin-top: 5vh;
  font-family: 'Pretendard-SemiBold';
  font-size: 2.5vh;
}


.hashTag{
  margin-top: 1vh;
  margin-bottom: 6vh;
  font-size: 2.2vh;
}

.poseAria{
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.1));
  background-color: white;
  border-radius: 16px;
  width: 36vh;
  height: 58vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tape{
  background-image: url("../../resource/img/tape.png");
  background-size: 9vh;
  background-repeat: no-repeat;
  background-position : center;
  height: 9vh;
  margin-top: -4.2vh;
}

.imgArea0{
  height : 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pose{
  height : 35vh;
  width: 30vh;
  object-fit: contain;
  border-radius: 16px;
  transition: 0.4s;
}

.poseBtn{
  width: 30vh;
  height: 5vh;
  background-color: #1C66FD;
  border-radius: 16px;
  border-style: none;
  font-size: 2vh;
  margin-top: 2vh;
  color: white;
}

.linkPose{
  padding: 1.5vh 0vh 1.5vh 0vh;
  width: 30vh;
  font-size: 2vh;
  text-align: center;
  line-height: 0;
  color: white;
}


.makeArchive{
  font-size: 2.2vh;
  margin-top: 6vh;
  padding: 0vh;
  width: 11vh;
  height: 11vh;
  border-radius: 50%;
  border-style : solid;
  border-color : rgba(0,0,0,0.5);;
  color : rgba(0,0,0,0.5);
  text-decoration: none;
}

.makeArchiveText{
  padding-top: 2.3vh;
  font-size: 2vh
}

.arrow00 {
  background-image: url("../../resource/Icons/arrow_forward_24px.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position : center;
  height:3vh;
}
