@import url("./font.css");
@import "MainPageTap1.module.css";

.App {
  background-color: #1C54A9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color : white;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
}

.Header{
  width: 100%;
}

.topNav{
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 2.5vh;
  width: 17vh;
  background-image: url("../../resource/img/mainPage/moamoa_k.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3vh;
  margin-top: 5vh;
}

.userIcon{
  height: 5vh;
  width: 5vh;
  background-image: url("../../resource/img/mainPage/usericon_k.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 2vh;
  margin-bottom: 1vh;
}

.borderL, .borderR{
  margin-top: -0.25vh;
  position: relative;
  width: 30%;
  height: 0.4vh;
  background-color: white;
  transition: 0.25s;
}

.borderL{
  left: -25%;
}

.borderR{
  left: 25%;
}



