@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../resource/font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../resource/font/Pretendard-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: bold;
}

.App2 {
  background-color: #1C54A9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color : white;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
}

.invisibleNav2 {
  display : flex;
  justify-content : center;
  align-items:end;
  font-size: 2.2vh;
  width: 100%;
  height: 10vh;
  padding-bottom: 2vh;
  /* border-bottom: white solid 1px; */
}

.backBtn{
  position:absolute;
  left: 5%;
  background-image: url("../resource/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 3vh;
  width: 3vh;
}

.inflow2Title{
  font-size: 2.5vh;
  height: fit-content;
  font-family: 'Pretendard-SemiBold';
}

.inflow2Script{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 10vh;
  width: 40vh;
}

.inflow2ScriptFirst{
  font-size: 3.6vh;
  font-family: 'Pretendard-SemiBold';
  margin-bottom: 2.5vh;
}

.inflow2ScriptSecond{
  font-size: 1.6vh;
  color:#FFFFFF;
  opacity: 70%;
}

.peopleContainer{
  width : 100%;
  background-image: url("../resource/img/selectPeopleBox.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 9vh;
  margin-bottom: 43vh;
}

.randBtn2{
  padding: 2vh 14vh 2vh 14vh;
  border-style: none;
  background: #A5F59F;
  border-radius: 16px;
  font-size: 2.2vh;
  text-decoration: none;
  color:black;
}
