@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../resource/font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

ul, li,a {
  text-decoration: none;
  margin:0;
  padding:0;
  list-style-type: none;
  color:#FFFFFF;
}

.back1{
  background-color: #1C54A9;
  text-align: center;
  color : white;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
  overflow-y: scroll;
}
.tag3{
  position:relative;
  width: 100%;
  top: 4vh;
  border-bottom: 1px solid #ffffff;
  
  
}
.arrow0{
  position: relative;
  background-image: url("../resource/arrow.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 3vh;
  width: 3vh;
  margin: 0 0 0 0;
  top: 6.4vh;
  left: 3vh;
}
.tag4{
  position: relative;
  left: -9vh;
  top:1vh;
  font-size: 22px;
}



.block > div {
  width: 16vh;
  height: 16vh;
  border-radius: 1.5rem;
  border-style: solid;
  align-content: stretch;
  display: inline-block;
  margin-bottom: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
  position: relative;
  top: 16vh;
}
.block1 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block2 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block3 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block4 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block5 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block6 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block7 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block8 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block9 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}
.block10 {
  background-image: url("../resource/Group 6.png");
  background-size:cover;
}



.icon1 {
  transform: rotate(60deg);
  margin-left:1vh;
  color: white;
  top:-1px;
  position: relative;
}

.circle * { box-sizing: border-box; }
.circle{
  position: relative;
  width: 13vh;
  height: 5vh;
  border-radius: 1.5rem;
  border: 2px solid rgb(255, 255, 255);
  background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 7px) center no-repeat;
  background-size: 20px;
  cursor: pointer;
  margin: auto;
  top: 10vh;
}



.circle .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 15px;;
}

.circle .submenu {
  position: relative; 
  z-index: 1999;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: scroll;
  max-height: 0;
  transition: .3s ease-in;
}
.optionItem {
  font-size: 17px;
  color:#1C54A9;
}
.circle.active.submenu {
  max-height: 30vh;
  color:#FFFFFF;

}

.circle .optionItem {
  
  padding: 5px 15px 5px;
  transition: .1s;
}

.circle.optionItem:hover {
  background: #1C54A9;
}

.circle.optionItem:last-child {
  border-bottom: 0 none;
}

.circle.label.submenu:hover {
  box-sizing: border-box;
}


/*
.circle::after{
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: relative; 
  top: 0; 
  right: 35px;
  background: rgb(251, 251, 251);

}
.circle .optionList {
  position: absolute; 
  top: 28px;
  left: 0;
  width: 100%;
  background: lightcoral;
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
}


.label >ul {
  cursor: pointer;
}
.label > ul >li {
  margin: 0;
  position: relative;
  border-radius: 1.5rem;
  border: 2px solid #ffffff;
  width: 13vh;
  height: 4.5vh;
  
}
.circle .submenu:hover {
  background: rgb(255, 255, 255);
}
.label > li > a {
  display: block;
  padding:8px 16px;
  text-align: center;
  box-sizing: border-box;
}
.submenu{
  background-color: #ffffff;
  font-size: 15px;
  display: none;
  border: 1px solid #FFFFFF;
  border-radius: 1.5rem;
  top: 1vh;
  position: relative;
  z-index: 1999;
}
.submenu li > a{
  display: block;
  line-height: 5vh;
  border-bottom: 1px solid #1C54A9;
  color:#1C54A9
}
.label > ul >li:hover .submenu{
  display:block;
}
.submenu li:hover {
  background-color: #ffffff30;
  display:block;
}
.label > .submenu {
  margin-top: 0vh;
}



.label {
  position: relative;
  top: 10vh;
  border-radius: 1.5rem ;
  border-style: solid ;
  width: 13vh;
  height: 5vh;
  background-color: #ffffff30;
  margin: auto;
  clear:both;
  padding-top: 1vh;
  cursor: pointer;
  border-color: #FFFFFF;
  color: white;
}
.circle {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid rgb(255, 255, 255);
  background-size: 20px;
  cursor: pointer;
  background-color: #ffffff39;
  color:#ffffff;
  text-size-adjust: 15px;;
  top: 10vh;
  margin:auto;
  z-index: 1999;
}
*/
