.comment-list {
    width: 100%;
    overflow-x:hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .comment-list>:first-child{
    width: 100%;
  }
  