@font-face {
  font-family: 'Pretendard-Regular';
  src: url('resource/font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.App {
  background-color: #1C54A9;
  text-align: center;
  color : white;
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard-Regular';
}

.invisible-nav {
  display : flex;
  justify-content : end;
  align-content: center;
  font-size: 2.2vh;
  padding : 3vh;
  padding-top: 4vh;
  height: 3vh;
}

.logIn{
  height: fit-content;
}

.mainLogo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
}

.logoTop{
  font-size: 2.2vh;
}

.logoBottom{
  font-size: 5vh;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxImg{
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(resource/img/giftbox.png);
  background-size: 25vh;
  background-repeat: no-repeat;
  background-position : center 20vh;
  height:65vh;
}


.questionMark1{
  background-image: url(resource/img/questionMark1.png);
  background-size: 7vh;
  background-repeat: no-repeat;
  background-position : center;
  height: 7vh;
  width : 7vh;
  position:relative;
  top : 10vh;
  right: 7vh;
}

.questionMark2{
  background-image: url(resource/img/questionMark2.png);
  background-size: 2.5vh;
  background-repeat: no-repeat;
  background-position : center;
  height: 4vh;
  width: 2.5vh;
  position:relative;
  top : 13vh;
  left : 7vh;
}


.questionMark3{
  background-image: url(resource/img/questionMark3.png);
  background-size: 5.5vh;
  background-repeat: no-repeat;
  background-position : center;
  height: 5.5vh;
  width: 5.5vh;
  position:relative;
  top : 19vh;
  left: 8vh;
}


.randBtn{
  width: 90%;
  height: 7vh;
  border-style: none;
  background: #4CF23E;
  border-radius: 16px;
  font-size: 2.2vh;
}
